APP_NAME=Support-Tools
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=http://10.10.0.2

DB_CONNECTION=sqlite
DB_DATABASE=/opt/nabe-web/database/nabe.sqlite

# Active Directory / Kerberos
NABE_AD_DOMAIN=lab.local
NABE_AD_SERVER=10.10.0.3
NABE_AD_BASE_DN=DC=lab,DC=local
NABE_GROUP_INSTALL=NetBoot-Install
NABE_GROUP_ADMIN=NetBoot-Admin

# NetBoot Server
NABE_SERVER_IP=10.10.0.2
NABE_ISCSI_IQN_PREFIX=iqn.2024-01.local.lab.netboot
NABE_ISCSI_MANAGE=/opt/netboot-auth/iscsi-manage.sh

# Session-Timeout (Minuten)
NABE_SESSION_TIMEOUT=5
